build/
build.old/

tools/SMILE RF/Files/SMILE.ini
tools/SMILE RF/Files/Temp/
tools/SMILE RF/Files/TestRoom/
tools/SMILE RF/Files/Data/mdb.txt
tools/SMILE RF/Files/Data/level_entries.txt
tools/SMILE RF/Files/RF_Config.ini
tools/SMILE RF/Files/RF_Settings.ini

*.bak
.vs/

*.srm
*.smc

~*